<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- keep ul code for reference START-->
      <!-- attribute "href" will force a refresh of the page -->
      <!-- <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/servers">Servers</a></li>
        <li role="presentation"><a href="/users">Users</a></li>
      </ul> -->
      <!-- keep ul code for reference END -->

      <!-- routerLink renders the page without refresh -->
      <!-- leading / makes the links absolute path -->
      <!-- routerLinkActive="someStyleAttribute" cause click event tab link to dynamically show tab is active.
            note; home link uses just / path and every path has /, hence home link will alway be active-->
      <ul class="nav nav-tabs">
        <!-- routerLinkActiveOptions with exact=true makes NG check that active is set iff exact path / is active -->
        <!-- routerLinkActiveOptions use property binding to enable Javascript Objects --> 
        <li role="presentation" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" 
          routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <!-- use property binding for fine grain control of links,
          note: use prefix / for absolute path, remove prefix / for relative path. -->
        <!-- links in the root component can use both absolute and relative path,
          since there is no parent path, only domain name -->
        <li role="presentation" 
          routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- dynamic placeholder for current router state -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>